<body class="bg-light">
    <div class="fondo">
        <div class="encabezado">
            <h1>Plantas</h1>
        <button type="button">+ Crear nueva planta</button>
    <br>
        </div>
    <div class="container-fluid mt-4">
      <div class="table-container">
    <table class="table table-spaced">
  <thead>
    <tr>
      <th scope="col">Pais</th>
      <th scope="col">Nombre de la planta</th>
      <th scope="col">
        <img src="../../assets/Icon2.png" alt="Lecturas ok">
        Lecturas OK</th>
      <th scope="col">
         <img src="../../assets/Group 8719.png" alt="alertas medias">Alertas medias</th>
      <th scope="col">
         <img src="../../assets/Group 8712.png" alt="alertas rojas">
        Alertas rojas</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="../../assets/Ajustes.png" alt="Bandera"> Pais</td>
      <td>xd</td>
      <td>800</td>
      <td>500</td>
      <td>2</td>
      <td></td>
      <td class="ps-4">
        <button id="boton-inicio-sesion">Ver plantas</button>
    </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</body>