.login{
    background-color: #FBFCFC;
    color: #84818A;
}

.login h1, h2{
    color: #000
}

.login #boton-registro{
    border-radius: 14px;
    color: #fff;
    background-color: #33A3AA;
    border: none;
}

#enlace-registro, #enlace-inicio-sesion{
    color: #33A3AA;
}

.mini-texto{
    color:#47464A
}

