
  <div class="container text-left">
     <div class="row">
    <div class="col-6">
    <h1>Iniciar sesión</h1>
    <p>Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando
      al máximo nuestra plataforma.</p>
     
    <img src="../assets/Icon.png" alt="Icono monitoreo" class="img-fluid">
    <h2>Monitoreo integral</h2>
    <p class="subtitulo">Administra, monitorea multiples plantas de forma centralizada</p>

     <img src="../assets/Icon (1).png" alt="Icono notificacion" class="img-fluid">
    <h2>Notificaciones en tiempo real</h2>
    <p class="subtitulo">Recibi notificaciones en tiempo real sobre las mediciones</p>
  <router-outlet></router-outlet>  
  </div> 
 
  </div>
  </div>
  