<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Proyecto Plantas</title>
</head>

<body>
  <div class="intro-inicio-sesion">
    <h1>Iniciar sesión</h1>
    <p>Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando
      al máximo nuestra plataforma.</p>

    <h2>Monitoreo integral</h2>
    <p>Administra, monitoria mutiples plantas de forma centralizada</p>

    <h2>Notificaciones en tiempo real</h2>
    <p>Recibi notificaciones en tiempo real sobre las mediciones</p>
  </div>
  <div class="login">
    <h1>Portal de monitoreo</h1>
    <h2>Iniciar sesión</h2>
    <input type="email" class="form-control" id="mail" placeholder="Email">
    <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Contraseña">
    <p>¿Olvidaste tu contraseña?</p>
    <button type="button" class="btn btn-primary">Iniciar sesion</button>
  <p>Protegido por reCAPTCHA y sujeto a la Política de Privacidad y Condiciones.</p>
  <p>¿No tienes una cuenta? Registrarse</p>
  </div>
</body>

</html>