<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Proyecto Plantas</title>
</head>

<body>
 <div class="container text-left">
     <div class="row">
    <div class="col-9">
    <h1>Registrarse</h1>
    <p>¡Bienvenido! Estamos encantados de que quieras unirte a nuestra plataforma. Regístrate y comienza a disfrutar de todas las ventajas que ofrecemos. No pierdas la oportunidad de ser parte de nuestra comunidad.</p>
     
    <img src=".../assets/Icon.png" alt="Icono monitoreo" class="img-fluid">
    <h2>Monitoreo integral</h2>
    <p class="subtitulo">Administra, monitorea multiples plantas de forma centralizada</p>

     <img src=".../assets/Icon (1).png" alt="Icono notificacion" class="img-fluid">
    <h2>Notificaciones en tiempo real</h2>
    <p class="subtitulo">Recibi notificaciones en tiempo real sobre las mediciones</p>
     </div> 
  </div>
     </div>
</body>

</html>
