<div class="d-flex">
    <div class="bg-light d-flex flex-column align-items-center p-3" style="width: 80px; height: 100vh;">
         <img src="../../assets/Logo (1).png" alt="Logo">
         <img src="../../assets/Dashboard.png" alt="icono de mundo">
         <img src="../../assets/Monitoreo por planta.png" alt="icono de camara">
         <img src="../../assets/Histórico de sensores.png" alt="Sensores">
         <img src="../../assets/Histórico de plantas.png" alt="Plantas">
         <img src="../../assets/Cerrar sesión.png" alt="cerrar sesion">
    </div>
    </div>