<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Proyecto Plantas</title>
</head>

<body>
  <div class="login">
    <h1>Portal de monitoreo</h1>
    <h2>Iniciar sesión</h2>
    <input type="email" class="form-control" id="mail" placeholder="Email"> {{email}}
    <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Contraseña">
    <p>¿Olvidaste tu contraseña?</p>
    <button type="button" class="btn btn-primary">Iniciar sesion</button>
  <p>Protegido por reCAPTCHA y sujeto a la Política de Privacidad y Condiciones.</p>
  <p>¿No tienes una cuenta? Registrarse</p>
  </div>
</body>

</html>
